<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DrugName</key>
	<array>
		<string>Thiopentone</string>
		<string>Ketamine</string>
		<string>Propofol</string>
		<string>Etomidate</string>
		<string>Midazolam</string>
		<string>Sodium Chloride 0.9%</string>
		<string>Isoflurane</string>
		<string>Sevoflurane</string>
		<string>Desflurane</string>
		<string>Halothane</string>
		<string>Enflurane</string>
		<string>Suxamethonium</string>
		<string>Rocuronium</string>
		<string>Metaraminol</string>
		<string>Adrenaline</string>
		<string>Glycopyrollate</string>
		<string>Atracurium</string>
		<string>Vecuronium</string>
		<string>Pancuronium</string>
		<string>Atropine</string>
		<string>Phenylephrine</string>
		<string>Ephedrine</string>
		<string>Alfentanil</string>
		<string>Fentanyl</string>
		<string>Midazolam</string>
		<string>Lidocaine</string>
		<string>Propofol Infusion</string>
		<string>Propofol Boluses</string>
		<string>Midazolam Infusion</string>
		<string>Midazolam Boluses</string>
		<string>Ketamine Boluses</string>
		<string>Morphine Infusion</string>
		<string>Morphine Boluses</string>
		<string>Fentanyl</string>
		<string>Alfentanil Infusion</string>
		<string>Tranexamic Acid</string>
		<string>Noradrenaline</string>
	</array>
	<key>Class</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>2</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>4</integer>
		<integer>4</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>6</integer>
		<integer>6</integer>
		<integer>6</integer>
		<integer>7</integer>
		<integer>3</integer>
	</array>
	<key>IsMaxMin</key>
	<array>
		<true/>
		<true/>
		<true/>
		<false/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<true/>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
		<true/>
		<true/>
		<false/>
		<true/>
		<true/>
		<false/>
		<true/>
	</array>
	<key>IsSingleAdultDose</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
	</array>
	<key>MinimumDose</key>
	<array>
		<integer>3</integer>
		<integer>1</integer>
		<real>1.5</real>
		<real>0.3</real>
		<real>0.1</real>
		<integer>10</integer>
		<real>0.8</real>
		<real>0.8</real>
		<real>0.8</real>
		<real>0.8</real>
		<real>0.8</real>
		<integer>1</integer>
		<real>0.6</real>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<real>0.3</real>
		<real>0.08</real>
		<real>0.04</real>
		<integer>20</integer>
		<real>0.1</real>
		<integer>3</integer>
		<integer>10</integer>
		<integer>1</integer>
		<real>0.1</real>
		<real>1.5</real>
		<integer>25</integer>
		<real>0.5</real>
		<integer>1</integer>
		<real>0.025</real>
		<real>0.25</real>
		<real>0.167</real>
		<real>0.1</real>
		<integer>1</integer>
		<real>0.5</real>
		<integer>15</integer>
		<real>0.04</real>
	</array>
	<key>MaximumDose</key>
	<array>
		<integer>7</integer>
		<integer>2</integer>
		<integer>3</integer>
		<real>0.35</real>
		<real>0.3</real>
		<integer>20</integer>
		<real>1.4</real>
		<real>1.4</real>
		<real>1.4</real>
		<real>1.4</real>
		<real>1.4</real>
		<real>1.5</real>
		<real>1.2</real>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<real>0.6</real>
		<real>0.1</real>
		<real>0.1</real>
		<integer>20</integer>
		<real>0.1</real>
		<integer>0</integer>
		<integer>15</integer>
		<integer>5</integer>
		<real>0.2</real>
		<real>1.5</real>
		<integer>200</integer>
		<real>0.5</real>
		<integer>6</integer>
		<real>0.025</real>
		<real>0.5</real>
		<real>0.667</real>
		<real>0.1</real>
		<integer>5</integer>
		<integer>1</integer>
		<integer>15</integer>
		<real>0.4</real>
	</array>
	<key>SingleScaledDose</key>
	<array>
		<integer>5</integer>
		<real>1.5</real>
		<integer>2</integer>
		<real>0.3</real>
		<real>0.2</real>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<real>0.01</real>
		<real>0.5</real>
		<integer>5</integer>
		<real>0.6</real>
		<real>0.1</real>
		<real>0.1</real>
		<integer>20</integer>
		<real>0.1</real>
		<integer>0</integer>
		<integer>15</integer>
		<integer>3</integer>
		<real>0.2</real>
		<real>1.5</real>
		<integer>50</integer>
		<real>0.5</real>
		<integer>2</integer>
		<real>0.025</real>
		<real>0.25</real>
		<real>0.2</real>
		<real>0.1</real>
		<integer>2</integer>
		<real>0.5</real>
		<integer>15</integer>
		<real>0.04</real>
	</array>
	<key>SingleAdultDose</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<real>0.25</real>
		<integer>5</integer>
		<integer>200</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>500</integer>
		<integer>0</integer>
		<integer>3</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1000</integer>
		<integer>0</integer>
	</array>
	<key>NormalConc</key>
	<array>
		<integer>25</integer>
		<integer>10</integer>
		<integer>10</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>50</integer>
		<integer>10</integer>
		<real>0.5</real>
		<integer>10</integer>
		<integer>200</integer>
		<integer>10</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>600</integer>
		<integer>40</integer>
		<integer>3</integer>
		<integer>500</integer>
		<integer>50</integer>
		<integer>1</integer>
		<integer>10</integer>
		<integer>10</integer>
		<integer>10</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>10</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>50</integer>
		<integer>500</integer>
		<integer>100</integer>
		<integer>80</integer>
	</array>
	<key>UnitType</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>2</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>2</integer>
		<integer>6</integer>
		<integer>2</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>5</integer>
		<integer>0</integer>
		<integer>5</integer>
	</array>
	<key>LabelType</key>
	<array>
		<integer>4</integer>
		<integer>4</integer>
		<integer>4</integer>
		<integer>4</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>11</integer>
		<integer>12</integer>
		<integer>13</integer>
		<integer>14</integer>
		<integer>15</integer>
		<integer>3</integer>
		<integer>2</integer>
		<integer>7</integer>
		<integer>8</integer>
		<integer>9</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>9</integer>
		<integer>7</integer>
		<integer>7</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>1</integer>
		<integer>6</integer>
		<integer>4</integer>
		<integer>4</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>0</integer>
		<integer>7</integer>
	</array>
	<key>IsVasopressor</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
	</array>
	<key>ManualDose</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>SafeInPaeds</key>
	<array>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<false/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
		<true/>
	</array>
	<key>PaedsMin</key>
	<array>
		<integer>4</integer>
		<integer>1</integer>
		<integer>2</integer>
		<real>0.15</real>
		<real>0.15</real>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<real>0.6</real>
		<real>0.01</real>
		<real>0.001</real>
		<integer>4</integer>
		<real>0.3</real>
		<real>0.08</real>
		<real>0.1</real>
		<integer>20</integer>
		<real>0.1</real>
		<real>0.06</real>
		<integer>10</integer>
		<integer>1</integer>
		<real>0.1</real>
		<real>1.5</real>
		<integer>0</integer>
		<real>0.5</real>
		<integer>1</integer>
		<real>0.025</real>
		<real>0.25</real>
		<real>0.167</real>
		<real>0.1</real>
		<real>0.5</real>
		<real>0.5</real>
		<integer>15</integer>
		<real>0.04</real>
	</array>
	<key>PaedsMax</key>
	<array>
		<integer>7</integer>
		<integer>2</integer>
		<integer>3</integer>
		<real>0.3</real>
		<real>0.5</real>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>2</integer>
		<real>1.2</real>
		<real>0.01</real>
		<real>0.001</real>
		<integer>8</integer>
		<real>0.6</real>
		<real>0.1</real>
		<real>0.1</real>
		<integer>20</integer>
		<real>0.05</real>
		<real>0.12</real>
		<integer>20</integer>
		<integer>5</integer>
		<real>0.2</real>
		<real>1.5</real>
		<integer>100</integer>
		<real>0.5</real>
		<integer>6</integer>
		<real>0.025</real>
		<real>0.5</real>
		<real>0.667</real>
		<real>0.1</real>
		<integer>5</integer>
		<integer>1</integer>
		<integer>15</integer>
		<real>0.4</real>
	</array>
	<key>PaedsSingleScaledDose</key>
	<array>
		<integer>5</integer>
		<integer>1</integer>
		<integer>2</integer>
		<real>0.3</real>
		<real>0.15</real>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<real>1.2</real>
		<real>0.01</real>
		<real>0.001</real>
		<integer>4</integer>
		<real>0.6</real>
		<real>0.1</real>
		<real>0.1</real>
		<integer>20</integer>
		<real>0.2</real>
		<real>0.06</real>
		<integer>15</integer>
		<integer>1</integer>
		<real>0.1</real>
		<real>1.5</real>
		<integer>0</integer>
		<real>0.5</real>
		<integer>1</integer>
		<real>0.025</real>
		<real>0.5</real>
		<real>0.2</real>
		<real>0.1</real>
		<integer>1</integer>
		<real>0.5</real>
		<integer>15</integer>
		<real>0.04</real>
	</array>
	<key>PaedsMaxTotal</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>60</integer>
		<integer>25</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>200</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>600</integer>
		<integer>500</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>10</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>10</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1000</integer>
		<integer>0</integer>
	</array>
</dict>
</plist>
